*{
  margin:10px;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier';
  background-color: #aadefc;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.colImg-size{width: 20%;}

@media only screen and (max-width: 1210px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .colImg-size{width: 100%;}
  .propic{width: 20% !important;}
  .column-card-kb{
    top: -10px !important
  }
  .column-card-social{
    position: relative;
    left: -20px;
  }
}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column-card-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.column-card{
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  transform: translateX(-5px);
  width: 100%;
  transition: 10s ease;
}
.column-card-kb{
  position: relative;
  top: -50px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  transform: translateX(-5px);
  width: 100%;
  transition: 10s ease;
}
.column-card-kb b{
  background-color: white;
  font-size: 22px;
}
.card-bio{
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  transform: translateX(-5px);
}
.card-last-row{
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 8px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  transform: translateX(-5px);
}
.card-last-row p{
  background-color: white;
  font-size: 20px;
  font-weight: 600;
}

.userDataName{
font-size: 18px;
font-weight: bold;
background-color: inherit;
}
.userDataJobTitle{
  font-size: 16px;
  background-color: inherit;
  color: #a0a0a0
}
.bodyText{
background-color: inherit;
font-size: 16px;
padding: 10px;
}
.bodyText b{
  font-size: 19px;
  background-color: inherit;
}

.propic{
  width: 55%;
  border-radius: 18px;
  transition: 2s ease;
}

.image-card{
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  transform: translateX(-5px);
}
.propic:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}
  
.card-last-row:hover{
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transition: 1s ease;
}

.socialIcon{
  background-color: white !important;
}


/* ----------- */
.accordion {
 width: 100%;
background-color: inherit;

}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #dadee7;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 25px;
  font-style: italic;
}
.accordion-title  div{
  background-color: inherit;
}

.accordion-item{
  background-color: inherit;
  /* padding: 3px; */
  margin: 5px;
}

.accordion-title:hover {
  /* background-color: #3ab4cc; */

}

.accordion-title,
.accordion-content {
  /* padding: 1rem; */


}

.accordion-content {
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  will-change: opacity;
  width: 90%;
  padding-left:20px;
 
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
