*{
  margin:10px;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier';
  background-color: #0f4367;
    /* transition: 5s ease; */
}
/* background-color: rgb(226, 226, 226); 
gb(48 62 100);
#0f4367
*/

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 31%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.colImg-size{width: 20%;}

@media only screen and (max-width: 1110px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .colImg-size{width: 100%;}
  .propic{width: 30% !important;}
  .column-card-kb{
    
  }
  .workExpDiv b{
    line-height: none;
  }
 

}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column-card-social{

}
.column-card{
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  transform: translateX(-5px);
  width: 100%;
  transition: 10s ease;
}
.column-card-kb{
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  transform: translateX(-5px);
  width: 100%;

}
.column-card-kb b{
  background-color: white;
  font-size: 22px;
}
.card-bio{
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  transform: translateX(-5px);
}
.card-last-row{
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 8px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  transform: translateX(-1px);
}
.card-last-row p{
  background-color: white;
  font-size: 20px;
  font-weight: 600;
}

.userDataName{
font-size: 30px;
font-weight: bold;
background-color: inherit;
}
.userDataJobTitle{
  font-size: 20px;
  background-color: inherit;
  color: #595959
}
.userDataEmail{
  font-size: 16px;
  background-color: inherit;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
}

.bodyText{
background-color: inherit;
font-size: 16px;
padding: 10px;
}
.bodyText b{
  font-size: 19px;
  background-color: inherit;
  color: #efa90c;
}

.propic{
  width: 62%;
  border-radius: 18px;
  /* transition: 2s ease; */
  transition: 2s cubic-bezier(0, 0.44, 1, 0.49);
}

.image-card{
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  transform: translateX(-5px);
}
.propic:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}
  
.card-last-row:hover{
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transition: 1s ease;
}

.socialIcon{
  background-color: white !important;
}


/* ----------- */
.accordion {
 width: 100%;
background-color: inherit;

}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #e1aa36;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 25px;
  font-style: italic;
}
.accordion-title  div{
  background-color: inherit;
}

.accordion-item{
  background-color: inherit;
  /* padding: 3px; */
  margin: 5px;
}

.accordion-title:hover {
  /* background-color: #3ab4cc; */

}

.accordion-title,
.accordion-content {
  /* padding: 1rem; */


}

.accordion-content {
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  will-change: opacity;
  width: 90%;
  padding-left:20px;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.workPic{
  width: 25%;
  border-radius: 18px;
  transition: 2s cubic-bezier(0, 0.44, 1, 0.49);
}
.workExp{
  background-color: white;
  font-size: 16px !important;
  /* line-height: 25px; */
}
.workExp b{
  font-size: 17px !important;
}

.workExpDiv b{
  /* line-height: 5px; */
  font-size: 19px;
}
.position{
  color: #efa90c;
}